/* Estilo general para la barra de navegación */
.navbar {
    background-color: #4CAF50; /* Color verde para la barra */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para los enlaces de navegación */
.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
}

/* Efecto hover en los enlaces */
.navbar a:hover {
    color: #e1e2e8; /* Cambia el color a amarillo cuando pasas el ratón */
}

/* Estilo para el título de la barra de navegación */
.navbar .navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff00;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Espaciado y alineación */
.navbar .navbar-links {
    display: flex;
    align-items: center;
}




/* Estilo general para las tarjetas */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
}

/* Estilo para el texto */
.card p {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

/* Botón Delete */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

/* Botón Delete: colores y animación */
.btn-danger {
    background-color: #ff4d4d;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #ff1a1a;
}
